#### Basics

In [1]:
empty = {}
type(empty)  # Output: <class 'dict'>

dict

In [29]:
## Dictionary with key-value pair

student = {
    'name': 'Alice',
    'age': 22,
    'courses': ['Math', 'CompSci']
    }

print(student)  # Output: {'name': 'Alice', 'age': 22, 'courses': ['Math', 'CompSci']}

{'name': 'Alice', 'age': 22, 'courses': ['Math', 'CompSci']}

In [5]:
## Dict from constructor
dict_constructor = dict(name='Bob', age=25, city='New York')
print(dict_constructor)  # Output: {'name': 'Bob', 'age': 25

{'name': 'Bob', 'age': 25, 'city': 'New York'}

#### Accessing and Modifying

In [30]:
# using key to access value
print(f"Name: {student["name"]}")

Name: Alice

In [31]:
# using get methods to access value

print(f"Age of a student: {student.get("age")}")

Age of a student: 22

In [32]:
print(student.get("country"))  # Output: None

None

In [33]:
print(student.get("country", "UK"))  # Output: UK

UK

In [34]:
print(student)

{'name': 'Alice', 'age': 22, 'courses': ['Math', 'CompSci']}

In [35]:
print(student['courses'][0])  # Output: Math

Math

In [24]:
student.setdefault("phone", "555-5555")
print(student)  # Output: {'name': 'Alice', 'age': 22, 'courses': ['Math', 'CompSci'], 'phone': '555-5555'}

{'name': 'Alice', 'age': 22, 'courses': ['Math', 'CompSci'], 'phone': '555-5555'}

In [25]:
student["country"] = "USA"
print(student)  # Output: {'name': 'Alice', 'age': 22, 'courses': ['Math', 'CompSci'], 'phone': '555-5555', 'country': 'USA'}

{'name': 'Alice', 'age': 22, 'courses': ['Math', 'CompSci'], 'phone': '555-5555', 'country': 'USA'}

#### Adding and Removing elements

In [26]:
#del
del student["phone"]
print(student)  # Output: {'name': 'Alice', 'age': 22, 'courses': ['Math', 'CompSci'], 'country': 'USA'}

{'name': 'Alice', 'age': 22, 'courses': ['Math', 'CompSci'], 'country': 'USA'}

In [27]:
age_value = student.pop("age")
print(f"Removed age: {age_value}")  # Output: Removed age: 22
print(student)  # Output: {'name': 'Alice', 'courses': ['Math', 'CompSci'], 'country': 'USA'}

Removed age: 22
{'name': 'Alice', 'courses': ['Math', 'CompSci'], 'country': 'USA'}

In [28]:
#remove the last item
last_item = student.popitem()
print(f"Removed item: {last_item}")  # Output: Removed item: ('country', 'USA')
print(student)  # Output: {'name': 'Alice', 'courses': ['Math', 'CompSci']}

Removed item: ('country', 'USA')
{'name': 'Alice', 'courses': ['Math', 'CompSci']}

In [36]:
student.clear()
print(student)  # Output: {}

{}

#### Iterating over dictionaries

In [39]:
student = {
    'name': 'Alice',
    'age': 22,
    'courses': ['Math', 'CompSci']
    }
student["country"] = "USA"
student

{'name': 'Alice', 'age': 22, 'courses': ['Math', 'CompSci'], 'country': 'USA'}

In [ ]:
##iteration generic way
for key in student:
    print(f"Key: {key}, Value: {student[key]}")

Key: name, Value: Alice
Key: age, Value: 22
Key: courses, Value: ['Math', 'CompSci']
Key: country, Value: USA

In [41]:
## explicit iteration using keys
for key in student.keys():
    print(f"Key: {key}")

Key: name
Key: age
Key: courses
Key: country

In [42]:
## over values
for value in student.values():
    print(f"Value: {value}")

Value: Alice
Value: 22
Value: ['Math', 'CompSci']
Value: USA

In [43]:
## key-value pair
for key, value in student.items():
    print(f"Key: {key}, Value: {value}")

Key: name, Value: Alice
Key: age, Value: 22
Key: courses, Value: ['Math', 'CompSci']
Key: country, Value: USA

In [44]:
## with enumenrate for index

for idx, (key, value) in enumerate(student.items()):
    print(f"Index: {idx}, Key: {key}, Value: {value}")

Index: 0, Key: name, Value: Alice
Index: 1, Key: age, Value: 22
Index: 2, Key: courses, Value: ['Math', 'CompSci']
Index: 3, Key: country, Value: USA

#### Loops with Data structures

In [45]:
## Loop through dict with list values

student_courses = {
    'Alice': ['Math', 'CompSci'],
    'Bob': ['History', 'Art'],
    'Charlie': ['Biology', 'Chemistry']
}

for name, courses in student_courses.items():
    print(f"{name} is enrolled in:")
    for course in courses:
        print(f" - {course}")

Alice is enrolled in:
 - Math
 - CompSci
Bob is enrolled in:
 - History
 - Art
Charlie is enrolled in:
 - Biology
 - Chemistry

In [46]:
## loop through dict with tuple values
employee_salaries = {
    'John': (50000, 'USD'),
    'Emma': (60000, 'USD'),
    'Liam': (55000, 'USD')
}

for employee_name, (salary, currency) in employee_salaries.items():
    print(f"Employee: {employee_name}, Salary: {salary} {currency}")

Employee: John, Salary: 50000 USD
Employee: Emma, Salary: 60000 USD
Employee: Liam, Salary: 55000 USD

In [47]:
## Looping through dict through set values
product_prices = {
    'Laptop': {999.99, 1099.99, 1199.99},
    'Smartphone': {499.99, 599.99, 699.99},
    'Tablet': {299.99, 399.99, 499.99}
}

for product, prices in product_prices.items():
    for price in prices:
        print(f"Product: {product}, Price: {price}")

Product: Laptop, Price: 999.99
Product: Laptop, Price: 1099.99
Product: Laptop, Price: 1199.99
Product: Smartphone, Price: 499.99
Product: Smartphone, Price: 699.99
Product: Smartphone, Price: 599.99
Product: Tablet, Price: 399.99
Product: Tablet, Price: 299.99
Product: Tablet, Price: 499.99

In [48]:
## Looping through dict with nested dict values
company_departments = {
    'HR': {'Manager': 'Alice', 'Employees': 5},
    'IT': {'Manager': 'Bob', 'Employees': 10},
    'Sales': {'Manager': 'Charlie', 'Employees': 7}
}

for department, employees_info in company_departments.items():
    for role, count in employees_info.items():
        print(f"Department: {department}, {role}: {count}")

Department: HR, Manager: Alice
Department: HR, Employees: 5
Department: IT, Manager: Bob
Department: IT, Employees: 10
Department: Sales, Manager: Charlie
Department: Sales, Employees: 7

#### Dictionary methods

In [61]:
employees_dict = {
    'Alice': {'age': 30, 'position': 'Manager'},
    'Bob': {'age': 25, 'position': 'Developer'},
    'Charlie': {'age': 28, 'position': 'Designer'}
}

copy_dict = employees_dict.copy()
print(copy_dict)  # Output: {'Alice': {'age': 30, 'position': 'Manager'}, 'Bob': {'age': 25, 'position': 'Developer'}, 'Charlie': {'age': 28, 'position': 'Designer'}}

{'Alice': {'age': 30, 'position': 'Manager'}, 'Bob': {'age': 25, 'position': 'Developer'}, 'Charlie': {'age': 28, 'position': 'Designer'}}

In [62]:
copy_dict["Charlie"]["age"] = 50
print(f"Original dict: {employees_dict}")
print(f"Copied dict: {copy_dict}")

Original dict: {'Alice': {'age': 30, 'position': 'Manager'}, 'Bob': {'age': 25, 'position': 'Developer'}, 'Charlie': {'age': 50, 'position': 'Designer'}}
Copied dict: {'Alice': {'age': 30, 'position': 'Manager'}, 'Bob': {'age': 25, 'position': 'Developer'}, 'Charlie': {'age': 50, 'position': 'Designer'}}

In [63]:
## merge two dicts
dict_1 = {'name': 'Alice', 'age': 30}
dict_2 = {'city': 'New York', 'job': 'Engineer'}

dict_1.update(dict_2)
print(dict_1)  # Output: {'name': 'Alice', 'age': 30, 'city': 'New York', 'job': 'Engineer'}

{'name': 'Alice', 'age': 30, 'city': 'New York', 'job': 'Engineer'}

In [64]:
## fromkeys() - create a dict with specified keys and a common value
keys = ['name', 'age', 'city']
default_value = None
new_dict= dict.fromkeys(keys, default_value)
print(new_dict)  # Output: {'name': None, 'age': None, 'city': None}

{'name': None, 'age': None, 'city': None}

In [74]:
merged_dict = {}

In [ ]:
## merge lists of dicts into a single dict
list_of_dicts = [
    {'name': 'Alice', 'age': 30},
    {'name': 'Bob', 'age': 25},
    {'name': 'Charlie', 'age': 28}
]

merged_dict = {}
for dictionaries in list_of_dicts:
    merged_dict.update(dictionaries)
print(merged_dict)  # Output: {'name': 'Charlie', 'age': 28}

{'name': 'Charlie', 'age': 28}

In [78]:
list_of_dicts = [
    {'name': 'Alice', 'age': 30},
    {'title': 'Engineer', 'years_of_experience': 5},
    {'salary': 150000, 'currency': 'USD'}
]
new_merged_dict = {}
for dictionaries in list_of_dicts:
    new_merged_dict.update(dictionaries)   
print(new_merged_dict)  # Output: {'name': 'Alice', 'age': 30, 'title': 'Engineer', 'years_of_experience': 5, 'salary': 150000, 'currency': 'USD'}

{'name': 'Alice', 'age': 30, 'title': 'Engineer', 'years_of_experience': 5, 'salary': 150000, 'currency': 'USD'}

#### unpacking

In [79]:
## unpacking with **operator
dict_a = {'name': 'Alice', 'age': 30}
dict_b = {'city': 'New York', 'job': 'Engineer'}

merged ={**dict_a, **dict_b}
print(merged)  # Output: {'name': 'Alice', 'age': 30, 'city': 'New York', 'job': 'Engineer'}

{'name': 'Alice', 'age': 30, 'city': 'New York', 'job': 'Engineer'}

#### Dictionary Comprehension

In [83]:
# Basic transformation
square = {i: i**2 for i in range(10)}
print(square)  # Output: {0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [84]:
# Dictionary comprehension - from list with enumerate
fruits = ['apple', 'banana', 'cherry']
fruit_dict ={index: fruit for index, fruit in enumerate(fruits)}
print(fruit_dict)  # Output: {0: 'apple', 1: 'banana', 2: 'cherry'}

{0: 'apple', 1: 'banana', 2: 'cherry'}

In [85]:
# Dictionary Comprehension from two lists
keys = ['name', 'age', 'city']
values = ['Alice', 30, 'New York']
combined_dict = {keys[i]: values[i] for i in range(len(keys))}
print(combined_dict)  # Output: {'name': 'Alice', 'age': 30, 'city': 'New York'}

{'name': 'Alice', 'age': 30, 'city': 'New York'}

In [86]:
#Alternative using zip
combined_dict_zip = {k: v for k, v in zip(keys, values)}
print(combined_dict_zip)  # Output: {'name': 'Alice', 'age': 30, 'city': 'New York'}

{'name': 'Alice', 'age': 30, 'city': 'New York'}

In [87]:
# Dictionary comprehension - string transformation
words = ['apple', 'banana', 'cherry']
upper_dict = {word: word.upper() for word in words}
print(upper_dict)  # Output: {'apple': 'APPLE', 'banana': 'BANANA', 'cherry': 'CHERRY'}

{'apple': 'APPLE', 'banana': 'BANANA', 'cherry': 'CHERRY'}

In [88]:
string_sentence = "Welcome to the world of Python programming"
char_count ={char: string_sentence.count(char) for char in set(string_sentence)}
print(char_count)

{'i': 1, 'n': 2, 'p': 1, 'g': 2, 'c': 1, 'd': 1, ' ': 6, 'W': 1, 'l': 2, 'm': 3, 'w': 1, 'P': 1, 'e': 3, 'a': 1, 'r': 3, 't': 3, 'y': 1, 'f': 1, 'h': 2, 'o': 6}

In [89]:
## Word frequency count
text = "This is a sample text with several words this is a test text"
words = text.lower().split()
word_freq = {word: words.count(word) for word in set(words)}
print(word_freq)

{'this': 2, 'several': 1, 'a': 2, 'with': 1, 'text': 2, 'words': 1, 'test': 1, 'sample': 1, 'is': 2}

In [ ]:
# Alternative approach
text = "This is a sample text with several words this is a test text"
words = text.split()
frequency = {}
for word in words:
    frequency[word] = frequency.get(word, 0) + 1
print("Word Frequency:", frequency)

Word Frequency: {'This': 1, 'is': 2, 'a': 2, 'sample': 1, 'text': 2, 'with': 1, 'several': 1, 'words': 1, 'this': 1, 'test': 1}

In [1]:
## USe a dictionary to count he frequency of elements in list

numbers=[1,2,2,3,3,3,4,4,4,4]
frequency={}

for num in numbers:
    if num in frequency:
        frequency[num] = frequency.get(num, 0) + 1
    else:
        frequency[num] = 1
print(frequency)  # Output: {1: 1, 2: 2, 3: 3, 4: 4}

{1: 1, 2: 2, 3: 3, 4: 4}

In [2]:
# Grouping data by category
students = [
    {"name": "Alice", "grade": "A"},
    {"name": "Bob", "grade": "B"},
    {"name": "Charlie", "grade": "A"},
    {"name": "Diana", "grade": "C"}
]

grouped = {}

for student in students:
    grade = student["grade"]
    
    if grade not in grouped:
        grouped[grade] = []
    grouped[grade].append(student["name"])  
print(grouped)  # Output: {'A': ['Alice', 'Charlie'], 'B': ['Bob'], 'C': ['Diana']}

{'A': ['Alice', 'Charlie'], 'B': ['Bob'], 'C': ['Diana']}

In [6]:
list_of_dicts = [
    {'name': 'Alice', 'age': 30},
    {'name': 'Bob', 'age': 25},
    {'name': 'Charlie', 'age': 28}
]

filtered_dict = {d['name'] : d['age'] for d in list_of_dicts  for k,v in d.items() if k == 'age' and v > 25}

filtered_dict

{'Alice': 30, 'Charlie': 28}

In [7]:
#alternative approach      
filtered_dict = {d['name'] : d['age'] for d in list_of_dicts if d['age'] > 25}
filtered_dict

{'Alice': 30, 'Charlie': 28}

In [9]:
# setdefault example

graph = {}

def add_edge(source, destination):
    graph.setdefault(source, []).append(destination)

add_edge('A', 'B')
add_edge('A', 'C')
add_edge('B', 'C')        
print(graph)  # Output: {'A': ['B', 'C'], 'B': ['C']}

{'A': ['B', 'C'], 'B': ['C']}

In [11]:
#chaining dictinary options
data ={'items': [10, 20, 30], 'details': {'name': 'Sample', 'type': 'Demo'}}

result ={key : len(value) if isinstance(value, list) or isinstance(value, dict) else value for key, value in data.items()}

result

{'items': 3, 'details': 2}

In [12]:
# Using dict with generators
even_squares = ((x, x**2) for x in range(10) if x % 2 == 0)
even_square_dict = dict(even_squares)
even_square_dict

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

In [13]:
# Updating the nested dictionary
employees_dict = {
    'Alice': {'age': 30, 'position': 'Manager'},
    'Bob': {'age': 25, 'position': 'Developer'},
    'Charlie': {'age': 28, 'position': 'Designer'}
}
Bob_details ={ 'Bob': {'age': 26, 'position': 'Senior Developer'} }

for key, value in Bob_details.items():
    if key in employees_dict:
        employees_dict[key].update(value)
print(employees_dict)  # Output: {'Alice': {'age': 30, 'position': 'Manager'}, 'Bob': {'age': 26, 'position': 'Senior Developer'}, 'Charlie': {'age': 28, 'position': 'Designer'}}

{'Alice': {'age': 30, 'position': 'Manager'}, 'Bob': {'age': 26, 'position': 'Senior Developer'}, 'Charlie': {'age': 28, 'position': 'Designer'}}