In [2]:
## create  a set
animals = {'cat', 'dog', 'rabbit'}
print(type(animals))  # Output: <class 'set'>

<class 'set'>

In [3]:
empty_set = set()
print(type(empty_set))  # Output: <class 'set'>

<class 'set'>

In [4]:
set_numbers = {1, 2, 3, 4, 5}
set_numbers

{1, 2, 3, 4, 5}

In [5]:
set_duplicate = {1, 2, 2, 3, 4, 4, 5}
set_duplicate  # Output: {1, 2, 3, 4,

{1, 2, 3, 4, 5}

In [8]:
list_duplicate = [1, 2, 2, 3, 4, 4, 5]
list_duplicate  # Output: [1, 2, 2, 3,

[1, 2, 2, 3, 4, 4, 5]

In [21]:
new_set = set(list_duplicate)  # Output: {1, 2, 3, 4, 5}
new_set

{1, 2, 3, 4, 5}

#### Set methods

In [22]:
new_set.remove(3)
new_set

{1, 2, 4, 5}

In [23]:
new_set.add(6)
new_set

{1, 2, 4, 5, 6}

In [24]:
new_set.add(3)
new_set

{1, 2, 3, 4, 5, 6}

In [25]:
new_set.add(4)
new_set

{1, 2, 3, 4, 5, 6}

In [26]:
new_set.remove(7)

KeyError: 7

In [27]:
new_set.discard(7) # remove an element if it exists, do nothing if it does not exist
new_set

{1, 2, 3, 4, 5, 6}

In [28]:
removed_element = new_set.pop()
print(removed_element)  # Output: 1 (or any other element, as sets are unordered)
print(new_set)  # Output: set without the removed element

1
{2, 3, 4, 5, 6}

In [29]:
new_set.clear()
print(new_set)  # Output: set()

set()

In [30]:
##Membership Testing

print(3 in set_numbers)  # Output: True
print(6 in set_numbers)  # Output: False

True
False

#### Mathematical operations

In [ ]:
set1 = {101, 102, 103, 104, 105, 106, 107}
set2 = {105, 106, 107, 108, 109, 110}

union_set = set1.union(set2)
print("Union:", union_set)  # Output: {101, 102, 103, 104, 105, 106, 107, 108, 109, 110}
#Union -> Common and all elements from both sets

union_operator_set = set1 | set2        
print("Union using | operator:", union_operator_set)  # Output: {101, 102, 103, 104, 105, 106, 107, 108 , 109, 110}

Union: {101, 102, 103, 104, 105, 106, 107, 108, 109, 110}
Union using | operator: {101, 102, 103, 104, 105, 106, 107, 108, 109, 110}

In [45]:
#Intersetion -> Only common elements

set1 = {101, 102, 103, 104, 105, 106, 107}
set2 = {105, 106, 107, 108, 109, 110}

intersection_set = set1.intersection(set2)
print("Intersection:", intersection_set)  # Output: {105, 106, 107}

intersection_operator_set = set1 & set2
print("Intersection using & operator:", intersection_operator_set)  # Output: {105, 106, 107}

intersectionUpdate_set = set1.intersection_update(set2)
print("Intersection Update:", set1)  # Output: {105, 106, 107}

Intersection: {105, 106, 107}
Intersection using & operator: {105, 106, 107}
Intersection Update: {105, 106, 107}

In [46]:
# Difference -> Elements in set1 but not in set2 or unique elements in set1
set1 = {101, 102, 103, 104, 105, 106, 107}
set2 = {105, 106, 107, 108, 109, 110}

difference_set = set1.difference(set2)
print("Difference:", difference_set)  # Output: {101, 102, 103, 104}

difference_operator_set = set1 - set2
print("Difference using - operator:", difference_operator_set)  # Output: {101, 102, 103, 104}

differenceUpdate_set = set1.difference_update(set2)
print("Difference Update:", set1)  # Output: {101, 102, 103, 104}

Difference: {104, 101, 102, 103}
Difference using - operator: {104, 101, 102, 103}
Difference Update: {101, 102, 103, 104}

In [48]:
## Symmetric Difference -> Elements in either set1 or set2 but not in both
set1 = {101, 102, 103, 104, 105, 106, 107}
set2 = {105, 106, 107, 108, 109, 110}

symmetric_difference_set = set1.symmetric_difference(set2)
print("Symmetric Difference:", symmetric_difference_set)  # Output: {101, 102, 103, 104, 108, 109, 110}

symmetric_difference_set_operator = set1 ^ set2
print("Symmetric Difference using ^ operator:", symmetric_difference_set_operator)  # Output: {101, 102, 103, 104, 108, 109, 110}

Symmetric Difference: {101, 102, 103, 104, 108, 109, 110}
Symmetric Difference using ^ operator: {101, 102, 103, 104, 108, 109, 110}

In [38]:
set2.issubset(set1)  # Output: False

False

In [39]:
set1.issuperset(set2)  # Output: False

False

In [49]:
set1.isdisjoint(set2)  # Output: False

False

In [50]:
set3={120,130, 140}
set1.isdisjoint(set3)  # Output: True

True

In [41]:
### Counting Unique words in text

text="In this tutorial we are discussing about sets"
words=text.split()

unique_words=set(words)
print("Unique words:", unique_words)
print("Number of unique words:", len(unique_words))

Unique words: {'tutorial', 'In', 'we', 'discussing', 'sets', 'are', 'about', 'this'}
Number of unique words: 8

#### In-Place Set Operations

In [51]:
num_set1 ={10,20,30,40,50}
num_set2 ={40,50,60,70,80}

## In place union
num_set1_copy = num_set1.copy()
num_set1_copy |= num_set2
num_set1_copy  # Output: {10, 20, 30, 40, 50, 60, 70, 80}

{10, 20, 30, 40, 50, 60, 70, 80}

In [52]:
## In-place intersection
num_set1_copy = num_set1.copy()
num_set1_copy &= num_set2
num_set1_copy  # Output: {40, 50}

{40, 50}

In [53]:
## In-place difference
num_set1_copy = num_set1.copy()
num_set1_copy -= num_set2
num_set1_copy  # Output: {10, 20, 30}

{10, 20, 30}

In [54]:
## In-place symmetric difference
num_set1_copy = num_set1.copy()
num_set1_copy ^= num_set2
num_set1_copy  # Output: {10, 20, 30, 60, 70, 80}

{10, 20, 30, 60, 70, 80}

In [55]:
## update()
num_set1_copy = num_set1.copy()
num_set1_copy.update(num_set2)
num_set1_copy  # Output: {10, 20, 30, 40, 50, 60, 70, 80}

{10, 20, 30, 40, 50, 60, 70, 80}

#### Set Comprehension

In [61]:
# Transformation with set comprehension
word_set_fruits = {'apple', 'banana', 'cherry', 'date', 'apple'}
upper_fruits = {fruit.upper() for fruit in word_set_fruits}
upper_fruits  # Output: {'APPLE', 'BANANA', 'CHERRY', 'DATE'}

{'APPLE', 'BANANA', 'CHERRY', 'DATE'}

In [67]:
word_set_fruits = {'apple', 'banana', 'cherry', 'date', 'apple', 'guava'}
fruits_length = {len(fruit) for fruit in word_set_fruits}
for fruit in word_set_fruits:
    print(f"{fruit}: {len(fruit)}")
print(fruits_length)  # Output: {4, 5, 6}

banana: 6
date: 4
apple: 5
cherry: 6
guava: 5
{4, 5, 6}

In [68]:
# Complex set comprehension
result = {x*y for x in range(1, 4) for y in range(1, 4)}
print("Products:", result)

Products: {1, 2, 3, 4, 6, 9}