In [1]:
## Basics

numbers = tuple([1, 2, 3, 4, 5])
type(numbers)  # tuple

tuple

In [4]:
tuple1 = (1, 2, 3)
list_tuple = list(tuple1)  # [1, 2, 3]

list_tuple
type(list_tuple)  # list

list

#### Mixed tuple and corresponding operations

In [6]:
mixed_tuple=(1,"Hello World",3.14, True)
mixed_tuple

(1, 'Hello World', 3.14, True)

In [7]:
mixed_tuple[-2]

3.14

In [8]:
mixed_tuple[::2]

(1, 3.14)

In [10]:
sorted_elements = tuple(sorted(mixed_tuple, key=str))
sorted_elements

###  The key=str parameter tells Python to convert each element to a string before comparing them for sorting.

(1, 3.14, 'Hello World', True)

In [13]:
new_sort = sorted(mixed_tuple, key=lambda x: str(x)) ##expilicit function with more flexibility
print(new_sort)
type(new_sort)  # list

[1, 3.14, 'Hello World', True]

list

In [14]:
sort_by_length = sorted(mixed_tuple, key=lambda x: len(str(x)))
print(sort_by_length)

[1, 3.14, True, 'Hello World']

In [19]:
mixed_tuple *3

(1,
 'Hello World',
 3.14,
 True,
 1,
 'Hello World',
 3.14,
 True,
 1,
 'Hello World',
 3.14,
 True)

#### Immutable

In [16]:
lst=[1,2,3,4,5]
print(lst)

lst[2]=10
print(lst)

[1, 2, 3, 4, 5]
[1, 2, 10, 4, 5]

In [17]:
list_to_tuple = tuple(lst)
list_to_tuple

(1, 2, 10, 4, 5)

In [18]:
list_to_tuple[2] =20

TypeError: 'tuple' object does not support item assignment

#### Tuple methods

In [24]:
list_to_tuple.insert(1,15)
list_to_tuple.append(25)

AttributeError: 'tuple' object has no attribute 'insert'

In [20]:
print(list_to_tuple.count(10))

1

In [26]:
print(list_to_tuple.index(10))

2

In [53]:
##Memebership testing
if 10 in list_to_tuple:
    print("10 is present in the tuple")
else:   
    print("10 is not present in the tuple")

10 is present in the tuple

#### Packing and Unpacking tuple

In [27]:
#packing
packed_tuple = 1, "Name", 5.67, True
packed_tuple

(1, 'Name', 5.67, True)

In [31]:
## unpacking
a, b, c, d = packed_tuple

print(a)
print(b)
print(c)
print(d)

1
Name
5.67
True

In [34]:
### Unpacking with *
first, *middle, last = packed_tuple
print(first)
print(middle)
print(last)

1
['Name', 5.67]
True

#### Nested List

In [36]:
lst=[[1,2,3,4],[6,7,8,9],[1,"Hello",3.14,"c"]]
lst[0][2:4]

[3, 4]

#### Nested list with a tuple row

In [38]:
lst=[[1,2,3,4],[6,7,8,9],(1,"Hello",3.14,"c")]
lst[2][1:3]

('Hello', 3.14)

#### Nested Tuple

In [41]:
nested_tuple = ((1, 2, 3), ("a", "b", "c"), (True, False))
print(nested_tuple[1][0:2])

('a', 'b')

In [44]:
print(nested_tuple[2][1])
print(nested_tuple[0][::-1]) ## reversing a tuple

False
(3, 2, 1)

In [45]:
## reversing is applicable only for a tuple with a nested tuple, but the changes are not reflected in the original
nested_tuple

((1, 2, 3), ('a', 'b', 'c'), (True, False))

#### Iterating over tuple

In [50]:
# Basic iteration over a nested tuple
for sub_tuple in nested_tuple:
    for item in sub_tuple:
        print(item, end=' ')
    print()

1 2 3
a b c
True False

In [54]:
# enumerate
animals = ("cat", "dog", "bird", "fish")

for index, animal in enumerate(animals):
    print(f"Index: {index}, Animal: {animal}")

Index: 0, Animal: cat
Index: 1, Animal: dog
Index: 2, Animal: bird
Index: 3, Animal: fish

In [55]:
# with range
for i in range(len(animals)):
    print(f"Index: {i}, Animal: {animals[i ]}")

Index: 0, Animal: cat
Index: 1, Animal: dog
Index: 2, Animal: bird
Index: 3, Animal: fish

#### Tuple Concatenation and repetition

In [56]:
combined_tuple = animals + packed_tuple
print(combined_tuple)

('cat', 'dog', 'bird', 'fish', 1, 'Name', 5.67, True)

In [57]:
repeated_tuple = packed_tuple * 2
print(repeated_tuple)

(1, 'Name', 5.67, True, 1, 'Name', 5.67, True)

In [62]:
### Combining operations
result = (animals + packed_tuple) * 2
print(result)

new_combi = (1,) *2
print(new_combi)

additional_tuple = (1,) *2 +(5,)*3
print(additional_tuple)

('cat', 'dog', 'bird', 'fish', 1, 'Name', 5.67, True, 'cat', 'dog', 'bird', 'fish', 1, 'Name', 5.67, True)
(1, 1)
(1, 1, 5, 5, 5)

#### Tuple Comprehension

In [64]:
squares = tuple(x**2 for x in range(5))
squares

(0, 1, 4, 9, 16)

In [65]:
##Transformation example
uppercase_animals = tuple(animal.upper() for animal in animals)
uppercase_animals

('CAT', 'DOG', 'BIRD', 'FISH')

#### Tuple with zip() and map()

In [66]:
zipped = zip(animals, packed_tuple)
zipped_tuple = tuple(zipped)
zipped_tuple

(('cat', 1), ('dog', 'Name'), ('bird', 5.67), ('fish', True))

In [67]:
for animal, info in zipped_tuple:
    print(f"Animal: {animal}, Info: {info}")

Animal: cat, Info: 1
Animal: dog, Info: Name
Animal: bird, Info: 5.67
Animal: fish, Info: True

In [ ]:
lowercase_animals = tuple(map(lambda x: x.lower(), animals))
lowercase_animals
##map??

('cat', 'dog', 'bird', 'fish')